<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine learning</title>
    
    <!-- Navabar-->
</head>
<body>
    <div>
      <h1> Halaman berandaa</h1>
      <p> Jadi website ini adalah merupakan sebuah halaman untuk membuat sebuah machine learning yang merekomendasikan pengguna sebuah handphone yang cocok untuk kebutuhannya</p>
      <form action="{{url_for('prediksi')}}" method="post">
        <input type="text" name = "nama" placeholder="Hahah" required="required">
        <input type="text" name = "merek" placeholder="isi benda" required="required">
        <button type="submit" class="btn btn-primary btn-block btn-large"> Tekan aku </button>
      </form>
</div>
</body>
</html>