*{ 
    padding: 0;
    margin: 0;
}

html {
    font-size: 12pt;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    min-height: 100vh;
    background-color: linear-gradient(to bottom, rgba(rgb(221, 233, 134)), rgba(rgb(187, 132, 214)));
    background-size: cover;
    overflow: hidden;
}

.wrapper{
    box-sizing: border-box;
    background-color: violet;
    height: 100vh;
    width: (40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
}