*{
    margin: 0;
    padding: 0;
}

html{
    line-height: 1.5rem;
}

.konten-utama {
    padding: 20px;
    margin-top: 1em;
}

h1{
    margin-left: 15em;
    position: middle;
    margin-bottom: 1em;
}

body{
    background-image: linear-gradient(rgba(231, 136, 136, 0.499), rgba(233, 47, 47, 0.547));
    /* background-repeat: no-repeat */
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

.bar-samping{
    box-sizing: border-box;
    height: 100vh;
    width: 190px;
    text-decoration-color: linear-gradient(rgb(232, 78, 70), rgba());
    padding: 10px 1em;
    font-weight: bold;
    background-color: rgb(222, 229, 196);
    border-right: 1px solid red;
}

.bar-samping ul{
    list-style: none;
    margin-top: 2em;
}

.bar-samping > ul > li:all{
    display: flex-end;
    margin-top: 10em;

}

.bar-samping ul li.active a{
    color: rgb(76, 187, 220);
}

.bar-samping a {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: rgba(200, 84, 41);
    display: flex;
    align-items: center;
    gap: 1em;
}

/* .navigasi{
    float: right;
} */

/* .Link{
    display: block;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: rgb(208, 79, 79);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Link:hover{
    border-radius: 5px;
    box-shadow: 5px;
    text-decoration: underline;
    text-decoration-color: rgba(208, 112, 95, 0.816);
} */

/* h1{
    position: relative;
    margin-top: 2em
} */

.Informasi {
    padding: min(3em 15%);
    border-radius: 0.6em;
    border: 0.5px solid;
    max-width: 1000px;
    margin-top: 8em;
    margin-left: 15em;
    /* margin-bottom: 20px; */
}

.Informasi p {
    margin-top: 5px;
    margin-left: 1em;
    position: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin-bottom: 15px;
    /* color:; */
}